#table{
    display: none;
}

.btn {
    margin-left: 45%;
    margin-bottom: 1%;
}

.jumbotron{
    text-align: center
}
.form-control{
    margin-left: 25%;
    text-align: center;
}
label {
    margin-left: 25%;
}